<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
        <arg name="port" value="9090"/>
    </include>
    <!-- NODES-->
    <node pkg="control" type="JoystickNode.py" name="joystick_node" output="screen"></node>
    <node pkg="control" type="DCMotorNode.py" name="dc_motor_node" output="screen"></node>
    <!-- <node pkg="control" type="Servo360Node.py" name="servo360_node" output="screen"></node> -->
    <node pkg="control" type="Servo180Node.py" name="servo180_node" output="screen"></node>
    <node pkg="control" type="PiHealthNode.py" name="pi_health_node" output="screen"></node>
    <node pkg="control" type="SwitchingNode.py" name="switching_node" output="screen"></node>
    <node pkg="control" type="LEDbash.sh" name="led_driver_node" output="screen"/>
    <node pkg="control" type="IMUNode.py" name="IMU" output="screen"></node> 
    <node pkg="control" type="DepthNode.py" name="depth" output="screen"></node>
    <node pkg="control" type="RainNode.py" name="rain_node" output="screen"></node>
    <node pkg="control" type="NavigationNode.py" name="navigation_node" output="screen"></node>
    <!-- <node pkg="control" type="NavigationActionNode.py" name="navigation_action_node" output="screen"></node> -->
    <!-- <node pkg="control" type="Pressurebash.sh" name="pressure_node" output="screen"/> -->
    <!-- <node pkg="control" type="PressureNode.py" name="pressure_node" output="screen"></node> -->
    <!-- <node pkg="gui" type="StereoSplitterNode.py" name="stereo_splitter_node" output="screen"></node> -->
    <!-- <node pkg="gui" type="StereoStitcherNode.py" name="stereo_stitcher_node" output="screen"></node> -->
    <node pkg="gui" type="GUIStreamingNode.py" name="gui_streamer" output="screen"></node>
    <node pkg="gui" type="CameraStreamingNode.py" name="cameras_streamer" output="screen"></node>

    <!-- SERVERS -->
    <node pkg="control" type="ControllerModeServer.py" name="controller_mode_server" output="screen"></node>
    <node pkg="control" type="ConfigServer.py" name="configs_server" output="screen"></node>
    <node pkg="control" type="MissionColorServer.py" name="mission_color_server" output="screen"></node>
    <node pkg="control" type="LogsServer.py" name="logs_server" output="screen"></node>
    <node pkg="control" type="LayoutServer.py" name="layouts_server" output="screen"></node>
    <node pkg="control" type="JoystickNodeOnOffServer.py" name="joystick_node_on_off_server" output="screen"></node>
    <node pkg="control" type="StreamServer.py" name="get_stream_service" output="screen"></node>
    <node pkg="control" type="InitializationServer.py" name="initialization_server" output="screen"></node>
    <node pkg="control" type="SpeedPercentageServer.py" name="speed_percentage_server" output="screen"></node>
    <node pkg="cv" type="PipePointsServer.py" name="pipe_server" output="screen"></node>
    <node pkg="cv" type="MapServer.py" name="map_server" output="screen"></node>
    <node pkg="gui" type="screenshotsServer.py" name="screenshots_server" output="screen"></node>
    <!-- <node pkg="control" type="CommunicationMappings.py" name="ros_json_generator" output="screen"></node> -->
    
    
</launch>
