<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
        <arg name="port" value="9090"/>
    </include>
    <!-- NODES-->
    <!-- <node pkg="control" type="JoystickNode.py" name="joystick_node" output="screen"></node> -->
    <!-- <node pkg="control" type="DCMotorNode.py" name="dc_motor_node" output="screen"></node> -->
    <!-- <node pkg="control" type="Servo360Node.py" name="servo360_node" output="screen"></node> -->
    <!-- <node pkg="control" type="Servo180Node.py" name="servo180_node" output="screen"></node> -->
    <!-- <node pkg="control" type="SwitchingNode.py" name="switching_node" output="screen"></node> -->
    <!-- <node pkg="control" type="LEDbash.sh" name="led_driver_node" output="screen"/> -->
    <!-- <node pkg="control" type="IMUNode.py" name="IMU" output="screen"></node> -->
    <!-- <node pkg="control" type="DepthNode.py" name="depth" output="screen"></node> -->
    <node pkg="control" type="NavigationNode.py" name="navigation_node" output="screen"></node>
    <node pkg="control" type="ConfigServer.py" name="configs_server" output="screen"></node>
    <!-- <node pkg="control" type="SetDepthClient.py" name="set_depth_client" output="screen"></node> -->
    <node pkg="gui" type="GUIStreamingNode.py" name="gui_streamer" output="screen"></node>
    <node pkg="gui" type="CameraStreamingNode.py" name="cameras_streamer" output="screen"></node>
    
</launch>
